name: Cron Job Event

on:
  schedule:
    - cron: "*/1 * * * *" 

jobs:
  cron_job:
    runs-on: ubuntu-latest
    steps:
      - name: This is my cron job event
        run: echo "My cron job ran successfully"

        
