name: My first workflow

on: push

jobs:
  first_job:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Welcome message
        run: echo "Welcome to my first workflow file"

      - name: List of files
        run: ls 
      - name: read file
        run: cat README.md

