name: Generate ascii Artwork

on:
  push

jobs:
  ascii_job:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
    - name: Execute the sh file
      run: |
         chmod +x ascii.sh
         ./ascii.sh

    
