name: Job Timeout Example

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Install dependencies
        run: sleep 400  # 6 minutes (job will timeout before completion)
